
body{background:silver;}

        h1 {color:white;
			text-align: center;
			font-size: 80px;}

 		h2 {font-family: courier;
 			text-align: center;
 			border:solid 2px red;
 			font-size: 80px;}
         
 		h3 {font-family: courier;
 			text-align: center;
 			font-size: 80px;
 		    border:solid 2px red;}

 		h4 {font-family: courier;
 			text-align: center;
 			font-size: 80px;
 		    border:solid 2px red;}
		h5 {font-family: courier;
 			text-align: center;
 			font-size: 80px;
 		    border:solid 2px red;} 

		 p {border: 5px; color: red;
		 	font-family:courier ;
          color:black;
          font-size: 75px;}